@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

*{
    box-sizing: border-box;
}
html{
    height:100%;
       
    width:100%;
}
body{
    font-family: 'Montserrat', sans-serif;
    background: url("beautiful-nature-view-green-leaf-260nw-1917605045.jpg") left 70% top 100%/cover no-repeat;
    height:100%;
   
    width:100%;
   
}
.main-heading{
    margin-left: 40%;
    font-size:2rem;
    margin-top: 0;
     color:rgba(0, 0, 0, 0.555); 
   
}
 .login-details{
   
 right:35%; 
  position: absolute;
  top:10%; 
border:1px solid rgba(255, 255, 255, 0.034);
   font-size:1.5rem;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: space-between; 
   
  border-radius: 50px 1px 50px 1px;
   width:45rem;
   height:50rem;
   padding: 3rem;
   /* background:rgba(255, 255, 255, 0.034);    */
   box-shadow: 2px 2px 9px 0.8px black;
}
.login-details input,
.login-details select{
   padding: 0.7rem;
   border-radius: 30rem;
   border:1px solid rgba(255, 255, 255, 0.335);
   background: rgba(255, 255, 255, 0.335);
   width:25rem;
   margin-left: 21%;
}

.login-details label{
    margin-left: 20%;
    padding:0.7rem;
    color:rgba(0, 0, 0, 0.76); 
    font-weight: bold;
}
#passward{
    padding:1rem;
    font-size:1rem;
    margin-left: 20%;
    font-weight: bold;
} 
.Login-Button{
    margin-left: 42%;
    margin-top: 3%;
    font-size:1.5rem;
    font-weight: bold;
    border-radius: 10px;
    width:20%;
    padding:0.5rem;
    border:1px solid rgb(5, 63, 5);
    
    background-image: linear-gradient(to bottom,rgb(59, 172, 59) 20% ,transparent);
}
.signup{
    font-size:1rem;
    margin-left: 50%;
    margin-top: 3%;
}

.sign-up{
    margin-left: 60%;
    padding:0;
    color:black;
    
}
.Login-Button:hover,
.Login-Button:active{
    color:white;
    background: rgb(13, 80, 13);
}

@media (max-width:39rem){
    .login-details{
   
      
      margin-right: auto;
      margin-left:auto;
         position: absolute;
         left:auto;
         right:auto;
         
       border:1px solid rgba(255, 255, 255, 0.034);
          font-size:1.5rem;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: space-between; 
          max-width:27rem;
          min-width:25rem;
         border-radius: 1px;
          width:90%;
          height:30rem;
          padding: 2rem;
          background:rgba(255, 255, 255, 0.294);    
          box-shadow: 2px 2px 9px 0.8px black;
       }
       .login-details input,
.login-details select{
/*    padding: 0.7rem; */
   border-radius: 30rem;
   border:1px solid rgba(255, 255, 255, 0.335);
   background: rgba(255, 255, 255, 0.335);
   width:20rem;
   margin-left:0;
  
}

.login-details label{
    margin-left:0;
    padding:0.7rem;
    color:rgba(0, 0, 0, 0.76); 
    font-weight: bold;
    font-size:1rem;
}
#passward{
    padding:1rem;
    font-size:1rem;
    margin-left: 0;
    font-weight: bold;
} 
.Login-Button{
    margin-left: 33%;
    margin-top: 3%;
    font-size:1.3rem;
    font-weight: bold;
    border-radius: 10px;
    width:30%;
    padding:0.5rem;
    border:1px solid rgb(5, 63, 5);
    
    background-image: linear-gradient(to bottom,rgb(59, 172, 59) 20% ,transparent);
}

.main-heading{
    margin-left: 35%;
    font-size:1.1rem;
    margin-top: 5%;
     color:rgba(0, 0, 0, 0.555); 
   
}
.sign-up{
    margin-left: 20%;
    padding:0;
    color:black;
    
}
body{
    font-family: 'Montserrat', sans-serif;
    background: url("beautiful-nature-view-green-leaf-260nw-1917605045\ -\ Copy.jpg") left 70% top 100%/cover no-repeat;
    
    height:100%;
    width:30vw;
    margin:5px;

}